﻿@model WebApplication1.Category

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Category</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Picture)
        </dt>*@

        @*<dd>
            @Html.DisplayFor(model => model.Picture)
        </dd>*@

    </dl>
</div>
<div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Products.SingleOrDefault().ProductID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products.SingleOrDefault().ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products.SingleOrDefault().UnitPrice)
            </th>
            <th ></th>
        </tr>
        @foreach (var item in Model.Products) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>

       </tr>
       }
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CategoryID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
